* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    display: flex;
    height: 100vh;
    font-family: 'Cabin', sans-serif;
    background-image: url("https://cdn.pixabay.com/photo/2015/07/29/12/08/floral-865823_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }


  .container {
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 40px;
      width: 60%;
      height: 70%;
      background-color: #fffeea;
      border-radius: 20px;

  }

  #author {
      font-style: italic;
      text-align: right;
  }

  .btn {
      width: 22%;
      margin: 35px;
      padding: 7px;
      border-radius: 5px;
      justify-content: center;
      font-size: 17px;
      border: none;
  }

  #quote-generator-btn {
      font-size: 20px;
  }

  btn.active {
      color: grey;
      background-color: 
  }

    btn.active:hover {
      color: grey;
      background-color: grey;
  }